.red {
    color: red;
}

/*due specificity the color of p will be blue instead of red because css targets the last property because it comes afterwards so the last p has more specificty.*/
.blue {
    color: blue;
}

/** classes have more weight than html tags */

P {
    color: green
}